
<div class="wrapper col4">
    <div id="container">
        <div id="content">
            <div id="featured_post">
                <img src="~/images/demo/tc1.jpg" alt="" />
                <p>Tại sao tính năng mới nhất của Apple Watch lại thất bại <a href="http://www.os-templates.com/">xem thêm </a>.</p>
                <p>Hệ thống kiểm soát bằng cử chỉ hoạt động tốt nhất khi chúng đơn giản, nhanh chóng và dễ học. Chúng cũng phải mang lại cảm giác tự nhiên và trực quan, tốt nhất là để bạn ghi nhớ chúng, và trên hết, chúng cần phải đáng tin cậy. Tính năng Double Tap của Apple trên Apple Watch Series 9 và Apple Watch Ultra 2 là một ví dụ điển hình về việc điều khiển bằng cử chỉ hoạt động tốt.</p>
            </div>
            <div id="hpage_latest">
                <ul>
                    <li>
                        <img src="~/images/demo/tao.gif" alt="" />
                        <p>YouTuber nhận được nhiều hơn là chỉ nhấp chuột vì cố tình làm rơi máy bay.</p>
                        <p>Urnau ltrices quis curabitur pha sellent esque congue magnisve stib ulum quismodo nulla et.</p>
                        <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
                    </li>
                    <li>
                        <img src="~/images/demo/5l.jpg" alt="" style="width: 190px;px; height:80px" />
                        <p>Làm thế nào một chiếc MacBook Pro lén lút đưa tôi trở lại chơi game trên PC.</p>
                        <p>Mua một máy tính xách tay chơi game? Đây là những thương hiệu đáng tin tưởng.</p>
                        <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
                    </li>
                    <li class="last">
                        <img src="~/images/demo/6l.jpg" alt="" style="width: 190px;px; height:80px" />
                        <p>Tôi đã đổi màn hình chơi game tốt nhất để lấy một thứ hoàn toàn khác.</p>
                        <p>Urnau ltrices quis curabitur pha sellent esque congue magnisve stib ulum quismodo nulla et.</p>
                        <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
                    </li>
                </ul>
                <br class="clear" />
            </div>
        </div>
        <div id="column">
            <ul id="latestnews">
                <li>
                    <img src="~/images/demo/2l.jpg" alt="" style="width: 80px;px; height:80px"  />
                    <p><strong><a href="#">Máy tính có thể gập lại HP Spectre.</a></strong> Đầu tiên trong danh sách này là PC có thể gập lại HP Spectre.</p>
                </li>
                <li>
                    <img src="~/images/demo/3l.jpg" alt="" style="width: 80px;px; height:80px" />
                    <p><strong><a href="#">Tôi đã sử dụng bản cập nhật điện thoại thông minh lớn tiếp theo của Samsung.</a></strong>Sự khó tính của Samsung còn được bổ sung thêm bởi một trong những chính sách hỗ trợ phần mềm dài nhất; một chiếc điện thoại tầm trung của Samsung hiện nhận được bốn bản cập nhật Android.</p>
                </li>
                <li>
                    <img src="~/images/demo/4l.jpg" alt="" style="width: 80px;px; height:80px" />
                    <p><strong><a href="#">Người dùng Windows 10 hiện có thể dùng thử Copilot AI của Microsoft.</a></strong>Những người vẫn gắn bó vớiWindows 10(hoặc những người không thể cài đặt Windows 11 trên máy của họ) giờ đây có thể kiểm tra một trong những tính năng được bàn tán nhiều nhất trong nhiều năm trên máy của họ..</p>
                </li>
                <li>
                    <img src="~/images/demo/7l.jpg" alt="" style="width: 80px;px; height:80px" />
                    <p><strong><a href="#">The Elder Scrolls V: Skyrim Special Edition.</a></strong> Bethesda biến Skyrim thành nền tảng mod với tính năng Creations mới.</p>
                </li>
                <li class="last">
                    <img src="~/images/demo/8l.jpg" alt="" style="width: 80px;px; height:80px" />
                    <p><strong><a href="#">Nhung game sap ra mat.</a></strong> Tất cả các trò chơi Xbox Series X sắp ra mắt: 2024 trở đi.</p>
                </li>
            </ul>
        </div>
        <br class="clear" />
    </div>
    <br class="clear" />
</div>